{% extends 'todoapp/main.html' %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Фильтр</title>
</head>
<body><br>
<center><h2>Форма для фильтра</h2></center><br>
    <center><form action="filter_task" method="POST">
    {% csrf_token %}
    Выбрать задачи с приоритетом: {{ form.priority }}<br><br>
    <center><input type="Submit" value="Подтвердить" class="floating-button"/></center><br>
    </form></center>
    <center><a href=" {% url 'tasklist' %}" class="glow-button">На главную</a></center>
</body>
{% endblock content %}